<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">3D Graphics / Illustration</span>
			<h1 class="title">Personal Projects</h1>
		</div>
		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="bbc-careers.html">Previous</a>
			<div class="project-link__title">BBC Careers</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="nhs.html">Next</a>
			<div class="project-link__title">NHS</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container three-dim">

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/3d-four.jpg" alt="3D work">
			</div>

			<div class="work-page__img-wrap">
				<video controls class="fluid" poster="images/3d-four.jpg">
  					<source src="video/play-animatione.webm" type="video/webm">
  					<source src="video/play-animation.mp4" type="video/mp4">
  					<source src="video/play-animation.ogv" type="video/ogv">
				</video>
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/3d-two.jpg" alt="3D work">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/3d-three.jpg" alt="3D work">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/3d-five.jpg" alt="3D work">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/3d-six.jpg" alt="3D work">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/illustration-shelflife.jpg" alt="illustration">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/illustration-woof.gif" alt="illustration">
			</div>
			
		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">This year I’ve spent long nights learning to make 3d graphics with cinema 4d and animate them. I like challenging myself and expanding the type of graphics I can produce. These are some examples of my 3D and illustration projects, and if you'd like to see more, head over to <a href="http://www.johannaharma.co.uk" title="Johanna Harma">johannaharma.co.uk</a></p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	