<div class="contact-bg grey-texture">
	<div class="container contact__details">
		<ul class="contact__social inline unstyled-list">
			<li class="contact__social__link"><a href="http://twitter.com/jojo_harma" title="twitter">twitter</a></li>
			<li class="contact__social__link"><a href="http://www.linkedin.com/pub/johanna-harma/35/820/811" title="linkedin">linkedin</a></li>
			<li class="contact__social__link"><a href="http://dribbble.com/jojo_harma" title="dribbble">dribbble</a></li>
			<li class="contact__social__link"><a href="http://instagram.com/jojo_harma" title="instagram">instagram</a></li>
		</ul>

		<a href="mailto:j.e.harma@gmail.com" class="contact__email" title="Email me">j.e.harma@gmail.com</a>
		<br>
		<div class="contact-divide"></div>
	</div>
</div>
