<div class="nav-bar">
	<a class="logo" href="index.html" title="Johanna Harma - UI/UX designer"><img src="images/logo.png" alt="Johanna Harma"></a>
	<nav class="main-nav">
		<ul class="inline unstyled-list">
			<li><a class="main-nav__link" href="about.html" title="about">about</a></li>
			<li><a class="main-nav__link" href="#contact" title="contact">contact</a></li>
			<li><a class="main-nav__link" href="#work" title="work">work</a></li>
		</ul>
	</nav>
</div>
