<%= partial "site-nav" %>
<div class="about-bg">
	<section class="container about">
		<div class="about__text">
			<h1 class="title">Johanna <br>Härmä</h1>
			<h2 class="subtitle white-text">UI and Graphic Designer</h2>
			<p class="about__bio white-text">I’m a Finnish UI and Graphic Designer, spent the past 7 years studying and working in the UK. As well as digital design I have a soft spot for vector illustration, logo design and 3D graphics. And the Moomins.</p>


			<div class="about__bar"></div>
		</div>
	</section>	
</div>

<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	