<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">UI Design</span>
			<h1 class="title">BBC Careers</h1>			
		</div>
		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="pedalempower.html">Previous</a>
			<div class="project-link__title">Halfords</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="3d-work.html">Next</a>
			<div class="project-link__title">3D Work</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container bbc-careers">

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/bbc-careers.jpg" alt="BBC Careers">
				<!-- Project detail 1-->
				<img class="fluid detail one" src="images/bbc-magnifier-one.png" alt="BBC Careers">
				<img class="fluid detail two" src="images/bbc-magnifier-two.png" alt="BBC Careers">
			</div>

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/bbc-careers-two.jpg" alt="BBC Careers">				
			</div>

		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">The BBC offers a huge variety of jobs and types of career, and the Careers website helps people find the right vacansies from the long list. We were asked to design a Social Media Hub template for the BBC Careers site, which pulls in content from various social media outlets into a single, dynamic page that helps potential employees stay in touch with what's happening at the BBC. Designs were made using the BBC Gel guidelines.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	