<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">Game design</span>
			<h1 class="title">Captain Pi</h1>			
		</div>
		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="nhs.html">Previous</a>
			<div class="project-link__title">NHS</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="ukie.html">Next</a>
			<div class="project-link__title">Ukie</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container captain-pi">

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/captainpi-one.jpg" alt="Captain Pi">
			</div>

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/captainpi-two.jpg" alt="Captain Pi">				
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/captainpi-three.jpg" alt="Captain Pi">
			</div>

		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">Captain Pi is an html 5 game I designed as an internal project at MadeByPi, initial designs were for mobile and iPad but I later designed a desktop version of the game. I came up with the name and a character, designed an interface including all game screens, enemies and controls, following further work on playability with developers.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	