<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">UI Design</span>
			<h1 class="title">First Direct</h1>			
		</div>

		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="logos.html">Previous</a>
			<div class="project-link__title">Logo designs</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="pedalempower.html">Next</a>
			<div class="project-link__title">Halfords</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container first-direct">

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/fd-one.jpg" alt="First Direct">
				<!-- Project detail 1-->
				<img class="fluid detail one" src="images/fd-magnifier.png" alt="First Direct">
			</div>

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/fd-two.jpg" alt="First Direct">				
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/fd-three.jpg" alt="First Direct">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/fd-four.jpg" alt="First Direct">
				<!-- Project detail 1-->
				<img class="fluid detail two" src="images/fd-magnifier-one.png" alt="First Direct">
				<img class="fluid detail three" src="images/fd-magnifier-two.png" alt="First Direct">
			</div>

		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">I've worked on various projects for First Direct bank, from updates on the website to Facebook and email campaigns some of which promote their collaboration with the childrens' charity Childline. The latest project was a photography competition, which asked First Direct customers to send in their 'Pictures of happiness'. From thousands of photos seven were shortlisted for a public vote and one winner was selected.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	