<header role="banner">
	<%= partial "site-nav-home" %>
	<section class="container intro-banner">
		<div class="intro">
			<img class="intro__logo fluid" src="images/jojologo.png" alt="Jojo">
			<span class="white-text hello">Hi, heippa, tjäna, hallo! Selected works of</span>
			<h1 class="white-text intro__headline">UI &amp; graphic designer Johanna Härmä</h1>
			<div class="intro__arrow"><span class="intro__arrow-inner"></span></div>
		</div>
	</section>
</header>

<section class="work container" id="work">

	<ul class="unstyled-list inline">
		<li class="work__item double-col">
			<a href="ukie.html" class="work__item__link" title="UKIE">
				<span class="work__img__bg"><img class="fluid thumb" src="images/ukie-thumb.jpg" alt="UKIE"></span>
				<div class="work__item__caption">
					<img src="images/desktop-icon.png" alt="Website">
					<h3 class="work__item__type">UI Design</h3>
					<h4 class="work__item__title">Ukie</h4>
				</div>
			</a>
		</li>
		<li class="work__item">
			<a href="logos.html" class="work__item__link" title="Logo Designs &amp; Vectors">
				<span class="work__img__bg"><img class="fluid thumb" src="images/logos-thumb.jpg" alt="Logo Designs &amp; Vectors"></span>
				<div class="work__item__caption">
					<img src="images/illustration-icon.png" alt="Illustration">
					<h3 class="work__item__type">Logo Designs &amp; Vectors</h3>
					<h4 class="work__item__title">Various Projects</h4>
				</div>
			</a>
		</li>		
		<li class="work__item">
			<a href="first-direct.html" class="work__item__link" title="First Direct">
				<span class="work__img__bg"><img class="fluid thumb" src="images/fd-thumb.jpg" alt="First Direct"></span>
				<div class="work__item__caption">
					<img src="images/desktop-icon.png" alt="Website">
					<h3 class="work__item__type">UI Design</h3>
					<h4 class="work__item__title">First Direct</h4>
				</div>
			</a>
		</li>
		<li class="work__item">
			<a href="pedalempower.html" class="work__item__link" title="Pedalempower">
			<span class="work__img__bg"><img class="fluid thumb" src="images/pedalm-thumb.jpg" alt="Pedalempower"></span>
				<div class="work__item__caption">
					<img src="images/facebook-icon.png" alt="3D">
					<h3 class="work__item__type">UI Design - Facebook</h3>
					<h4 class="work__item__title">Halfords</h4>
				</div>
			</a>
		</li>
		<li class="work__item">
			<a href="bbc-careers.html" class="work__item__link" title="BBC Careers">
				<span class="work__img__bg"><img class="fluid thumb" src="images/bbc-thumb.jpg" alt="BBC Careers"></span>
				<div class="work__item__caption">
					<img src="images/desktop-icon.png" alt="Website">
					<h3 class="work__item__type">UI Design</h3>
					<h4 class="work__item__title">BBC</h4>
				</div>
			</a>
		</li>
		<li class="work__item">
			<a href="3d-work.html" class="work__item__link" title="3D Work">
				<span class="work__img__bg"><img class="fluid thumb" src="images/3d-thumb.jpg" alt="3D work"></span>
				<div class="work__item__caption">
					<img src="images/3d-icon.png" alt="Facebook app">
					<h3 class="work__item__type">3D Graphics / Illustration</h3>
					<h4 class="work__item__title">Personal Projects</h4>
				</div>
			</a>
		</li>
		<li class="work__item">
			<a href="nhs.html" class="work__item__link" title="NHS">
				<span class="work__img__bg"><img class="fluid thumb" src="images/nhs-thumb.jpg" alt="NHS"></span>
				<div class="work__item__caption">
					<img src="images/desktop-icon.png" alt="Website">
					<h3 class="work__item__type">UI Design</h3>
					<h4 class="work__item__title">NHS</h4>
				</div>
			</a>
		</li>
	
		<li class="work__item">
			<a href="captain-pi.html" title="Captain Pi">
				<span class="work__img__bg"><img class="fluid thumb" src="images/captainpi-thumb.jpg" alt="Captain Pi"></span>
				<div class="work__item__caption">
					<img src="images/game-icon.png" alt="Website">
					<h3 class="work__item__type">Game Design</h3>
					<h4 class="work__item__title">Captain Pi</h4>
				</div>
			</a>
		</li>
	</ul>

</section>

<!-- <div class="process-bg grey-texture">
	<section class="process container">
		<div class="process__item">Coming soon</div>
		<div class="process__item"></div>
		<div class="process__item"></div>
	</section>
</div> -->

<section class="contact" id="contact">
	<div class="thanks container">
		<h1 class="thanks__title">Thanks for having a look!</h1>
		<h2 class="thanks__subtitle">I'd love to hear from you</h2>
		<div class="white__arrow"></div>
	</div>

	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	