<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">Logo designs</span>
			<h1 class="title">branding projects</h1>			
		</div>
		<a class="project-link prev" href="ukie.html"><div class="project-link__title">UKIE</div></a>
		<a class="project-link next" href="first-direct.html"><div class="project-link__title">First Direct</div></a>

		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="ukie.html">Previous</a>
			<div class="project-link__title">Ukie</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="first-direct.html">Next</a>
			<div class="project-link__title">First Direct</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container logos">

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/jeeruff.jpg" alt="Jeruff">
			</div>

		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-webnkit.jpg" alt="Webnkit">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-acousticprint.jpg" alt="Acoustic Print">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-jojo.jpg" alt="Johanna Harma">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-ultralase.jpg" alt="Ultralase">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-cambrinus.jpg" alt="Cambrinus">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-cambrinus-two.jpg" alt="Cambrinus">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/logos-vectors-two.jpg" alt="Vectors">
			</div>
		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">In the past couple years I've worked on several freelance branding projects, here is a selection of some of the more recent ones. Acoustic Print – noise cancelling canvas art, Cambrinus - ale events organiser, Jeeruff - cleaning company and Web n Kit - an online merchandise shop.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	