<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">UI Design</span>
			<h1 class="title">NHS</h1>			
		</div>
		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="3d-work.html">Previous</a>
			<div class="project-link__title">3D Work</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="captain-pi.html">Next</a>
			<div class="project-link__title">Captain Pi</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container nhs">
		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/nhs.jpg" alt="NHS">

				<!-- Project detail 1-->
				<img class="fluid detail one" src="images/nhs-magnifier.png" alt="NHS">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/nhs-two.jpg" alt="NHS">
			</div>
		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">A complete redesign of the look and feel of NHS Nihr Clahrc website including a navigation re-design to streamline information across the site and offer a more intuitive user journey. The Clahrc is a new initiative designed to bridge the gap between health research and clinical practice in the UK by bringing together NHS Trusts, Universities, City Councils and other key organisations to work in partnership.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	