<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">UI Design - Facebook</span>
			<h1 class="title">Halfords - Pedalempower</h1>			
		</div>
		<div class="project-link-wrap prev">
			<a class="project-link arrow" href="first-direct.html">Previous</a>
			<div class="project-link__title">First Direct</div></a>
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="bbc-careers.html">Next</a>
			<div class="project-link__title">BBC Careers</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container pedalempower">
		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/pedalmpower.jpg" alt="Pedelempower">

				<!-- Project detail 1-->
				<img class="fluid detail one" src="images/pedalempower-detail-1.png" alt="Pedalempower">
				<!-- Project detail 2-->
				<img class="fluid detail two" src="images/pedalempower-detail-2.png" alt="Pedalempower">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/pedalmpower-two.jpg" alt="Pedelmpower-two">
			</div>
		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">A dynamic Facebook charity app concept for Halfords that would allow enthusiastic cyclists to track their bike rides, log the miles they cycled and for a certain amount of miles logged Halfords would donate a bike to Africa. As well as logging your rides, the app gives participators achievement badges, displays leaderboards and allows people to team up to add up their rides as a group. Weekly ride challenges motivate users to keep using the app.
</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	