
<header>
<%= partial "site-nav" %>
</header>

<section class="work-page">
	<div class="work-page__intro-bg grey-texture">
		<div class="work-page__intro container">
			<span class="work-type">UI Design</span>
			<h1 class="title">UKIE</h1>			
		</div>

		<div class="project-link-wrap next">
		<a class="project-link arrow" href="logos.html">Next</a>
			<div class="project-link__title">Logo designs</div>
		</div>
	</div>

	<div class="work-page__img-bg light-grey-bg">
		 <div class="container ukie">
		 	<div class="work-page__img-wrap">
				<img class="fluid" src="images/ukie-one.jpg" alt="Pedelempower">
				<!-- Project detail 1-->
				<img class="fluid detail one" src="images/ukie-magnifier-one.png" alt="UKIE">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/ukie-two.jpg" alt="UKIE">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/ukie-three.jpg" alt="UKIE">
				<!-- Project detail 2-->
				<img class="fluid detail two" src="images/ukie-magnifier-two.png" alt="UKIE">
				<!-- Project detail 3 -->
				<img class="fluid detail three" src="images/ukie-magnifier-three.png" alt="UKIE">
			</div>

			<div class="work-page__img-wrap">
				<img class="fluid" src="images/ukie-five.jpg" alt="UKIE">
			</div>

		</div>
	</div>
	<div class="container">
		<p class="work-page__desc">Ukie is the trade body that champions the interests and needs of the video games and interactive entertainment industry in the UK. Gaming companies can join Ukie and get membership benefits through the website which we were asked to redesign with a completely new and fresh style. The new design is responsive from desktop to mobile with a redesigned navigation and a simplified user journey . Currently in development.</p>
	</div>

	<div class="white__arrow"></div>
</section>	


<section class="contact" id="contact">
	<%= partial "contact" %>
</section>

<%= partial "footer" %>
	